workflows/Generate SQL queries from schema only - TM.json
{
  "active": false,
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Extract SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Load the schema from the local file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run SQL query": {
      "main": [
        [
          {
            "node": "Format query results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract SQL query": {
      "main": [
        [
          {
            "node": "Check if query exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format query results": {
      "main": [
        [
          {
            "node": "Combine query result and chat answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Check if query exists": {
      "main": [
        [
          {
            "node": "Run SQL query",
            "type": "main",
            "index": 0
          },
          {
            "node": "Combine query result and chat answer",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert data to binary": {
      "main": [
        [
          {
            "node": "Save file locally",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract data from file": {
      "main": [
        [
          {
            "node": "Combine schema data and chat input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract database schema": {
      "main": [
        [
          {
            "node": "Add table name to output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add table name to output": {
      "main": [
        [
          {
            "node": "Convert data to binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List all tables in a database": {
      "main": [
        [
          {
            "node": "Extract database schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "List all tables in a database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine schema data and chat input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load the schema from the local file": {
      "main": [
        [
          {
            "node": "Extract data from file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine query result and chat answer": {
      "main": [
        [
          {
            "node": "Prepare final output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-13T11:44:45.176Z",
  "id": "95s0wTAUfsNdVJM5",
  "isArchived": false,
  "meta": {
    "templateId": "2508"
  },
  "name": "Generate SQL queries from schema only - TM",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "bf6c12df-170f-46f6-b2d5-68c38e9e712e",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1520,
        960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "5a6973d4-37f6-4575-9749-fd8e6976de8b",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1700,
        960
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "af7ac1db-2686-403d-86b0-dcf884239b52",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2400,
        1040
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SHOW TABLES;",
        "options": {}
      },
      "id": "11bfafe2-1754-4d52-af18-2d4a3b64d0de",
      "name": "List all tables in a database",
      "type": "n8n-nodes-base.mySql",
      "position": [
        600,
        500
      ],
      "typeVersion": 2.4
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DESCRIBE {{ $json.Tables_in_tttytdb2023 }};",
        "options": {}
      },
      "id": "ea60b0eb-4a31-4a75-a75b-b98e630c6501",
      "name": "Extract database schema",
      "type": "n8n-nodes-base.mySql",
      "position": [
        760,
        500
      ],
      "typeVersion": 2.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "764176d6-3c89-404d-9c71-301e8a406a68",
              "name": "table",
              "type": "string",
              "value": "={{ $('List all tables in a database').item.json.Tables_in_tttytdb2023 }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "c0f862b6-dc8e-421a-b0cd-102c361f3069",
      "name": "Add table name to output",
      "type": "n8n-nodes-base.set",
      "position": [
        940,
        500
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "id": "b43a597e-531f-4e14-9376-6c93939c07b0",
      "name": "Convert data to binary",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        1120,
        500
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "./chinook_mysql.json",
        "options": {}
      },
      "id": "244f974a-1425-4a21-bf97-c5d47d789b57",
      "name": "Save file locally",
      "type": "n8n-nodes-base.readWriteFile",
      "position": [
        1280,
        500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "id": "e15db84b-74cb-4173-a0a1-0a4584d0568b",
      "name": "Extract data from file",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        980,
        940
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "47c5c4b0-9a43-4590-9c0a-c760d2e92d05",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        500,
        940
      ],
      "webhookId": "adaccd36-e8d9-439f-82a2-ba7c44c315e4",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=Here is the database schema: {{ $json.schema }}\nHere is the user request: {{ $('Chat Trigger').item.json.chatInput }}",
        "options": {
          "humanMessage": "TOOLS\n------\nAssistant can ask the user to use tools to look up information that may be helpful in answering the users original question. The tools the human can use are:\n\n{tools}\n\n{format_instructions}\n\nUSER'S INPUT\n--------------------\nHere is the user's input (remember to respond with a markdown code snippet of a json blob with a single action, and NOTHING else):\n\n{{input}}",
          "systemMessage": "Assistant is a large language model trained by OpenAI.\n\nAssistant is designed to be able to assist with a wide range of tasks, from answering simple questions to providing in-depth explanations and discussions on a wide range of topics. As a language model, Assistant is able to generate human-like text based on the input it receives, allowing it to engage in natural-sounding conversations and provide responses that are coherent and relevant to the topic at hand.\n\nAssistant is constantly learning and improving, and its capabilities are constantly evolving. It is able to process and understand large amounts of text, and can use this knowledge to provide accurate and informative responses to a wide range of questions. Additionally, Assistant is able to generate its own text based on the input it receives, allowing it to engage in discussions and provide explanations and descriptions on a wide range of topics.\n\nOverall, Assistant is a powerful system that can help with a wide range of tasks and provide valuable insights and information on a wide range of topics. Whether you need help with a specific question or just want to have a conversation about a particular topic, Assistant is here to assist.\n\nHelp user to work with the MySQL database.\n\nPlease wrap any sql commands into triple quotes. You don't have a tool to run SQL, so the user will do that instead of you."
        }
      },
      "id": "fcc9e93a-d850-4762-992b-0253de321f31",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1540,
        820
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "content": "## Run this part only once\nThis section:\n* loads a list of all tables from the database hosted on [db4free](https://db4free.net/signup.php) \n* extracts the database schema for each table and adds the table name\n* converts the schema into a binary JSON format\n* saves the schema `./chinook_mysql.json` file locally\n\n***Now you can use chat to \"talk\" to your data!*** 🎉",
        "height": 466.4256045427794,
        "width": 1065.0949045120822,
        "color": 3
      },
      "id": "e7c8d400-b244-473d-961f-c1f0a7fb47af",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Pre-workflow setup \nConnect to a free MySQL server and import your database. Follow Step 1 and 2 in this [tutorial](https://blog.n8n.io/compare-databases/) for more.\n\n*The Chinook data used in this workflow is available on [GitHub](https://github.com/msimanga/chinook/tree/master/mysql).* ",
        "height": 174.60585869504342,
        "width": 312.47220527158765,
        "color": 6
      },
      "id": "50da5fbf-8f65-4341-bfc4-2d0877ff1f95",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1100,
        280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "5f99454e-2399-43ed-bc44-260537acd050",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        420,
        500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## On every chat message:\n\n* The workflow gets the data from the local schema file and extracts it as a JSON object. This way, we achieve two important improvements:\n  * faster processing time as we don't need to fetch the schema for each table from a slow remote database\n  * the Agent will know database structure without seeing the actual data\n* DB schema is then converted into a long string, JSON fields from the Chat Trigger are added before they are entered into the Agent node.\n",
        "height": 489.29614613074125,
        "width": 1062.678698911262,
        "color": 6
      },
      "id": "07ef9c6e-81b5-4574-8fbe-73aa7a0dba64",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        740
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### LangChain AI Agent's system prompt is modified.\nIt uses only the database schema to generate SQL queries. The agent creates these queries but does not execute them. Instead, it passes them to subsequent nodes.\n\n**Example:**\n\"Can you show me the list of all German customers?\" \n\nQueries are generated only when necessary; for some requests, a query may not be needed. This is because certain questions can be answered directly without SQL execution.\n\n**Example:**\n\"Can you list me all tables?\"",
        "height": 714.7896619176862,
        "width": 445.66588600071304,
        "color": 6
      },
      "id": "1b6d93e6-9232-4862-824a-8e75143af7e9",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1460,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "42abd24e-419a-47d6-bc8b-7146dd0b8314",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $('Chat Trigger').first().json.sessionId }}"
            },
            {
              "id": "39244192-a1a6-42fe-bc75-a6fba1f264df",
              "name": "action",
              "type": "string",
              "value": "={{ $('Chat Trigger').first().json.action }}"
            },
            {
              "id": "f78c57d9-df13-43c7-89a7-5387e528107e",
              "name": "chatinput",
              "type": "string",
              "value": "={{ $('Chat Trigger').first().json.chatInput }}"
            },
            {
              "id": "e42b39eb-dfbd-48d9-94ed-d658bdd41454",
              "name": "schema",
              "type": "string",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7a720cb0-6e6f-4ac6-8911-522500d3bc69",
      "name": "Combine schema data and chat input",
      "type": "n8n-nodes-base.set",
      "position": [
        1200,
        940
      ],
      "executeOnce": true,
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fileSelector": "./chinook_mysql.json",
        "options": {}
      },
      "id": "e4e20da5-11ea-4be0-83d3-c0d94a1b463b",
      "name": "Load the schema from the local file",
      "type": "n8n-nodes-base.readWriteFile",
      "position": [
        740,
        940
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ebbe194a-4b8b-44c9-ac19-03cf69d353bf",
              "name": "query",
              "type": "string",
              "value": "={{ ($json.output.match(/SELECT[\\s\\S]*?;/i) || [])[0] || \"\" }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "dfc0aa36-5960-4fea-abc7-0b966839078b",
      "name": "Extract SQL query",
      "type": "n8n-nodes-base.set",
      "position": [
        1960,
        860
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "2963d04d-9d79-49f9-b52a-dc8732aca781",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.query }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "eb2140a2-22e1-4bb1-95c7-44a1c1f2e755",
      "name": "Check if query exists",
      "type": "n8n-nodes-base.if",
      "position": [
        2120,
        960
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "## SQL query extraction\nCheck if the agent's response contains an SQL query. If it does, we extract the query using a regular expression.",
        "height": 278.8174358200552,
        "width": 317.8901548206743,
        "color": 3
      },
      "id": "2b437095-9940-480d-86c7-44ed9b22e24a",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1940,
        760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "",
        "height": 715.7029266156915,
        "width": 882.7611828369563,
        "color": 6
      },
      "id": "685c25aa-252c-49b6-9182-1ceda060ca8c",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1640,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "The AI Agent remembers the schema, questions, and final answers, but not data values, since queries run externally. The agent can't access database content. ",
        "height": 108.03673727584527,
        "width": 257.46308756569573,
        "color": 3
      },
      "id": "1a15bc82-a4e1-4a8f-a00b-835ff3b059f7",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1640,
        1100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "- The SQL node accesses the database and executes the query. The results are then formatted for readability.\n- Both the chat response and the query result are displayed in the chat window.",
        "height": 123.43139661532095,
        "width": 308.8514666587585,
        "color": 3
      },
      "id": "463f6378-1921-44fa-9cc3-5e5a4e0e78e1",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2480,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "When the agent responds without an SQL query, you receive an immediate answer with no additional processing.",
        "height": 89.90186716520257,
        "width": 250.40895053328057,
        "color": 3
      },
      "id": "4210e87e-3029-45ec-ab60-4c50afe09a85",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2540,
        1120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f944d21f-6aac-4842-8926-4108d6cad4bf",
              "name": "sqloutput",
              "type": "string",
              "value": "={{ Object.keys($jmespath($input.all(),'[].json')[0]).join(' | ') }} \n{{ ($jmespath($input.all(),'[].json')).map(obj => Object.values(obj).join(' | ')).join('\\n') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ac6b544d-18cc-4fd8-92df-0b985e77c02a",
      "name": "Format query results",
      "type": "n8n-nodes-base.set",
      "position": [
        2480,
        660
      ],
      "executeOnce": true,
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {}
      },
      "id": "6e85aacc-781b-4319-9303-45b4ea0bd6f2",
      "name": "Run SQL query",
      "type": "n8n-nodes-base.mySql",
      "position": [
        2320,
        660
      ],
      "typeVersion": 2.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa55e186-1535-4923-aee4-e088ca69575b",
              "name": "output",
              "type": "string",
              "value": "={{ $json.output }}\n\nSQL result:\n```markdown\n{{ $json.sqloutput }}\n```"
            }
          ]
        },
        "options": {}
      },
      "id": "b3b3a3ba-26f5-41a9-9ba9-4b45cf5130c3",
      "name": "Prepare final output",
      "type": "n8n-nodes-base.set",
      "position": [
        2620,
        940
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "07e4c45c-c785-41c7-8340-c8117589ed0f",
      "name": "Combine query result and chat answer",
      "type": "n8n-nodes-base.merge",
      "position": [
        2400,
        860
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SHOW TABLES;",
        "options": {}
      },
      "id": "747bbf01-0a26-441f-83ed-4851e6ec41c5",
      "name": "List all tables in a database1",
      "type": "n8n-nodes-base.mySql",
      "position": [
        860,
        40
      ],
      "typeVersion": 2.4
    },
    {
      "parameters": {
        "operation": "executeQuery"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [
        820,
        260
      ],
      "id": "7f7ef411-d127-489f-807f-4c4dc6946aab",
      "name": "Microsoft SQL"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.microsoftGraphSecurityTool",
      "typeVersion": 1,
      "position": [
        1480,
        480
      ],
      "id": "6fd62b83-6f71-45b2-b301-fd5584fda675",
      "name": "Get a secure score in Microsoft Graph Security"
    },
    {
      "parameters": {
        "resource": "opportunity",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1700,
        480
      ],
      "id": "142c2c68-eb71-42af-869f-cd961b846c61",
      "name": "Create an opportunity"
    },
    {
      "parameters": {
        "content": "## TODO\n\n#Search Oracle Connectively\n\n## Down Oralce image\n## Download MYSQl Docker image\n",
        "height": 320,
        "width": 700
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        20
      ],
      "typeVersion": 1,
      "id": "afef8bb7-aa06-490e-89eb-8daf997c8de7",
      "name": "Sticky Note9"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-07-13T11:44:43.597Z",
      "updatedAt": "2025-07-13T11:44:43.597Z",
      "id": "KktHMrAK4cLq2GX1",
      "name": "TAG"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-07-13T11:54:27.740Z",
  "versionId": "c7c40076-a132-4dcf-bed2-ae1b29a2f962"
}