workflows/n8n backups.json
{
  "active": false,
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "check_github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "backup every 10 minutes": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-16T19:55:45.488Z",
  "id": "4PfskbsrVWX2zU3g",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "n8n backups",
  "nodes": [
    {
      "parameters": {},
      "id": "a54773bb-5374-4eb4-b65f-5a70caa6fdfb",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1720,
        140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "088e8704-d8e5-4207-89a6-8bd0257e3aeb",
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "fc2d43a7-0ee9-4a19-b7fa-7f62a04a1604",
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        0,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "f9750337-f850-41d5-b78c-255f4f8ec0eb",
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        0,
        420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "tahirmahmood2015",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-bk",
          "mode": "list",
          "cachedResultName": "n8n-bk",
          "cachedResultUrl": "https://github.com/tahirmahmood2015/n8n-bk"
        },
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=update: n8n backup {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "c0041094-640e-49e6-b07b-120b51c615e2",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        180,
        240
      ],
      "typeVersion": 1,
      "webhookId": "51eb7b14-0365-4ca9-9cf8-6b9995094cd8",
      "credentials": {
        "githubApi": {
          "id": "PUEfe16PftrYzf8p",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "tahirmahmood2015",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-bk",
          "mode": "list",
          "cachedResultName": "n8n-bk",
          "cachedResultUrl": "https://github.com/tahirmahmood2015/n8n-bk"
        },
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=Add: n8n backup file named {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "070647c6-1e32-4eb7-9434-cc6011e5d851",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        180,
        420
      ],
      "typeVersion": 1,
      "webhookId": "7e835d3b-aa3a-44e9-9b07-ab89b8882710",
      "credentials": {
        "githubApi": {
          "id": "PUEfe16PftrYzf8p",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "c2332888-2151-4886-aa26-6f1dc63747fb",
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -1100,
        260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "n8n-io"
            },
            {
              "name": "repo.name",
              "value": "n8n-backups"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "d6d94178-10f7-45e2-8399-7483acc69e29",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        -1540,
        260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "1111de40-bfcd-4e7c-82a5-d00e57675851",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -1300,
        260
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "fxAB8djOUmZkcKdz",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
      },
      "id": "cb61a675-4a07-4224-b6c1-dd45422c3379",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        -480,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "3bec2172-bbab-4a19-a1c2-a0fb4deacda0",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -660,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "a48b1361-92de-4566-a440-80c49d43c79d",
      "name": "check_github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        -240,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 10,
              "unit": "minutes"
            }
          ]
        }
      },
      "id": "cfa30366-bd2a-47e7-86b1-b1b81e483ea3",
      "name": "backup every 10 minutes",
      "type": "n8n-nodes-base.cron",
      "position": [
        -1720,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "tahirmahmood2015",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-bk",
          "mode": "list",
          "cachedResultName": "n8n-bk",
          "cachedResultUrl": "https://github.com/tahirmahmood2015/n8n-bk"
        },
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "d732dd7c-367b-4dee-89b7-9ed5e79602bf",
      "name": "Get a file",
      "type": "n8n-nodes-base.github",
      "position": [
        -880,
        100
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "9624d3fa-612d-4621-a39a-4bf2a798341a",
      "credentials": {
        "githubApi": {
          "id": "PUEfe16PftrYzf8p",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-16T20:04:45.545Z",
  "versionId": "cbb0cfb4-d334-4390-8794-2b8685d15864"
}