workflows/SSL Expiry Alert with SSL-Checker.io.json
{
  "active": false,
  "connections": {
    "Check SSL": {
      "main": [
        [
          {
            "node": "URLs to Monitor",
            "type": "main",
            "index": 0
          },
          {
            "node": "Expiry Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch URLs": {
      "main": [
        [
          {
            "node": "Check SSL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expiry Alert": {
      "main": [
        [
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Trigger": {
      "main": [
        [
          {
            "node": "Fetch URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-14T17:39:29.115Z",
  "id": "Ws6opHWieeScv5NI",
  "isArchived": false,
  "meta": {
    "templateId": "2694"
  },
  "name": "SSL Expiry Alert with SSL-Checker.io",
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1VfsX4cW2oKQ3ZHUjBvGk--d1X7509c6__b6gPvA5VpI/edit?gid=0#gid=0"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VfsX4cW2oKQ3ZHUjBvGk--d1X7509c6__b6gPvA5VpI/edit#gid=0",
          "cachedResultName": "URLs to Check"
        },
        "columns": {
          "value": {
            "URL": "={{ $json.result.host }}",
            "KnownExpiryDate": "={{ $json.result.valid_till }}"
          },
          "schema": [
            {
              "id": "Website ",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Website ",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "KnownExpiryDate",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "KnownExpiryDate",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "URL"
          ]
        },
        "options": {}
      },
      "id": "260b66a2-0841-4dc7-9666-acbc9317fd91",
      "name": "URLs to Monitor",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        440,
        380
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "a2922f1b-9d29-4b66-9560-44207f3e14d2",
      "name": "Weekly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -520,
        640
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1pnUfIkD90MUG99Fp0vRoAB-w-GPSAwRZw0-JsNl-h3s/edit?usp=sharing"
        },
        "sheetName": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1pnUfIkD90MUG99Fp0vRoAB-w-GPSAwRZw0-JsNl-h3s/edit?gid=0#gid=0"
        },
        "options": {}
      },
      "id": "005564e9-5ecb-4ee9-aca0-69a660656b09",
      "name": "Fetch URLs",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -260,
        640
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "url": "=https://ssl-checker.io/api/v1/check/{{ $json[\"URL\"].replace(/^https?:\\/\\//, \"\").replace(/\\/$/, \"\") }}",
        "options": {}
      },
      "id": "943c561c-ca89-461c-a6fb-c3011baaf81a",
      "name": "Check SSL",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        0,
        640
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "ee6e2ce8-569a-4f1f-91b5-2c55f605a16b",
              "operator": {
                "type": "number",
                "operation": "lte"
              },
              "leftValue": "={{ $json.result.days_left }}",
              "rightValue": 7
            }
          ]
        },
        "options": {}
      },
      "id": "911fa691-decf-4572-a46e-d8644d3b2a35",
      "name": "Expiry Alert",
      "type": "n8n-nodes-base.if",
      "position": [
        440,
        720
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "sendTo": "phanineeraj@quantana.com",
        "subject": "=SSL Expiry - {{ $json.result.days_left }} Days Left - {{ $json.result.host }}",
        "emailType": "text",
        "message": "=SSL Expiry - {{ $json.result.days_left }} Days Left - {{ $json.result.host }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "8b59ebbb-0a87-40c2-be79-cc38431ebdbd",
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.gmail",
      "position": [
        760,
        740
      ],
      "webhookId": "cd6b6b20-e619-4526-aa69-64754e3d9035",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "content": "Triggers the workflow once a week.",
        "height": 329.860465116279
      },
      "id": "32eebd68-f0e6-467c-bf65-f2d513a60666",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -580,
        500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Pulls the list of URLs to monitor from the Google Sheet. Ensure you clone the Google Sheet worksheet and update this node with its URL.",
        "height": 327.0154373927959
      },
      "id": "3c0ed796-94a4-488c-9cb7-e3d46db63815",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Uses SSL-Checker.io to verify the SSL certificate of each URL. Fetches details like the host, validity period, and days remaining until expiry.",
        "height": 323.89365351629556
      },
      "id": "fdb2077c-7d6a-4255-b499-e90513a0de1d",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -60,
        500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Updates the Google Sheet with SSL details, including the expiry date and certificate status.",
        "height": 344.1852487135509
      },
      "id": "5cc1644b-6abc-4299-8a25-9507b09d863f",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Checks if any SSL certificate is set to expire in 7 days or less.",
        "height": 344.1852487135509
      },
      "id": "1001a69e-8efc-4a8b-a97b-a1bc021ada35",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Sends an email alert if an SSL certificate is nearing expiry, including the host and days remaining.",
        "height": 344.1852487135509
      },
      "id": "ad9e359e-3d95-4e8c-97b0-d06475bb8883",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        680,
        640
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-14T17:39:29.115Z",
  "versionId": "07c59f1a-06a2-4f1d-b6aa-315f3e54d590"
}